
.container {
  text-align: center;
  background-color: Lavender;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: BlueViolet;
  color: white;
}


